.container{ 
    max-width: 1000px;
    margin: 5rem auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.groupButton {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.search {
    display: flex;
    justify-content: space-between;
}