.container{ 
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0px 400px 0px 510px;
}

.button {
    padding: 0px 400px 0px 510px;
    margin-top: 20px;
}

.buttonP {
    display: flex;
    margin-top: 20px;
    
}